body {
  background-color: #808080;
  margin: 20px; 
  padding: 0;
  color: white;
}

.text {
  font-size: 100px;
  margin: 20px;
}

.text-1 {
  margin: 20px;
  font-size: 40px;
  margin-top: 70px;
}
  
.div {
  background-color: #000000;
  border-radius: 20px;
  position: relative;
  height: 853px;
  padding: 30px;
}
  
.centered-image {
  display: block;
  margin: 0 auto;
  width: 200px;
  padding: 65px;
}
  
.button-container {
  position: absolute;
  bottom: 20px; 
  margin: 20px;
}
  
.purple-button {
  background-color: rgb(104, 19, 153);
  padding: 20px; 
  border: none; 
  border-radius: 15px;
  box-shadow: none; 
  color: white;
}
  
